


@media screen and (max-width:1100px) {

    .NEWS {
        min-width: 200px;
        height: 800px;
        display: flex;
        flex-direction: column;
        margin: 1%;
        padding: 1%;
        .NEWS__images {
            width: 200px;
            height: 200px;
            
            .images_news {
                padding: 0;
                margin: 0;
                width: 100px;
                height: 100px;
               
        } 
    }
            
    }
    .men__video {
        width: 100%;
        .video {
            display: flex;
            flex-wrap: wrap;
            .video__block {
                display: flex;
                flex-wrap: wrap;
                width: 500px; 
                .video__block__video {
                    height: 280px;
                }
            }
        }
    }
    .information {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        min-width: 200px;  
        justify-content: center;
        align-items: center;
        
        .information__name {
            width: 90%;
        }
    }
    
    .mic__block {
        margin-top: 200%;
        max-width: 29%;
        min-width: 33%;
    }
    .maps {
        display: flex;
        flex-direction: column;
        width: 100%;
        .maps__images {
            display: flex;
            flex-direction: column;
            width: 100%;
            .maps__images__states {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                #map1, #map2, #map3, #map4, #map5, #map6 {
                    width: 70%;
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width:880px) {
    .mic__block {
        margin-top: 210%;
        max-width: 29%;
        min-width: 38%;
    }
    .mapsIndex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:850px) {
    
#logo {
    display: none;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .menu__smoll__navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #menu__smoll {
            display: flex;
            padding-top: 7%;

            
        }
        
        .navigation {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
                a {
                    background-color: black;
                    width: 100px;
                    border: 1px solid black;
                    opacity: 95%;
                    border-radius: 3px;
                    margin-right: 2%;
                    
                    &:hover {
                        color: #309D93;
                        background-color: #fff;
                        border-radius: 6px;
                        transition: 2s;
                    }
                }
                
            
            .menu {
                display: flex ;
            }
        }
    }
    }
    .mic__block {
        display: none;
    }
    .maps {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        .maps__images {
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: center;
            align-items: center;
            .maps__images__states {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                #map1, #map2, #map3, #map4, #map5, #map6 {
                    width: 90%;
                    height: 400px;
                }
            }
        }
    }


}




@media screen and (max-width:820px) {
    

    .men__video {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 5%;
        justify-content: center;
        align-items: center;
        
        .video {
            
            min-width: 90%;
            justify-content: center;
            margin-left: 5%;
            margin-right: 5%;
            .video__block {
                
                min-width: 100%;
                height: auto;
            }
            
        }
    }
    .NEWS {
        
        min-width: 80%;
    }
    .information {
        
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        .information__name {
            width: 84%;
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 5%;
            margin: auto;
            tr {
                display: flex;
                margin: 0;
                padding: 0;
                
            }
        }
    }
    .text-container {
        width: 80%;
    }

    .Video {
        display: flex;
        flex-direction: row;
        margin: 1%;
        
    }
    .images__text{
        display: flex;
        flex-direction: row;
        margin: 1%;
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin-left: 1px;
        width: 100%;
        .contact__info {
            width: 95%;
            
        }
    }
    #contact{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        width: 80%;
              
    }
}


@media screen and (max-width:722px) {
.photo__image__ {
    margin-top: 10%;
    .photo__image__list {
        width: 100%;
        margin: 0px;
        margin-top: 10%;
    }
}
    #news__content {
        margin: 0;
        padding: 2%;
    }
    .images_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       flex-direction: column;
        .block__cites_temp {
            display: flex;
            width: 100%;
            justify-content: center;
            
            .block__cites_temp__sites {
                margin-top: 1%;
            }
        }
    }
    
    .block_help {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 110%;
    }
    .block_menu{
        display: none;
    }
    #block__cites_temp__sites {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .information {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;   
        width: 99%;
        margin-left: 1px;
    }
    .footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin-left: 1px;
        width: 100%;
        .contact__info {
            width: 95%;
            
        }
    }
    #contact{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        width: 80%;
              
    }
    .photo__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .name__list {
            margin: 0;
        }
        .block_help {
            margin-left: 60px;
            
            input {
                width: 200px;
            }
        }
    }
    
    .mapsIndex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        #map, #maps {
        min-width: 95%;
    }
    }   

    .maps {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        .maps__images {
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: center;
            align-items: center;
            .maps__images__states {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                #map1, #map2, #map3, #map4, #map5, #map6 {
                    width: 90%;
                    height: 400px;
                    margin-bottom: 3%;
                }
            }
        }
    }
    
} 

@media screen  and (max-width:580px) {
    .NEWS {
        height: auto; 
    }
    p {
        font-size: 1.1em;
    }
    a {
        box-shadow: none;
    }
    
    
    .men__video {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    
    .block_help {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 120%;
        margin-top: 0;
    }
    .footer {      
        
            display: none;       
    }
    .Video {
        .Video__content__videoContent {
        display: flex;
        flex-direction: column; 
    }
    }
    .images__text {
        width: 100%;
        .images__text__backgr {
            width: 100%;
        }
    }
    .mapsIndex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        #map, #maps {
        min-width: 100%;
    }
    }   
    
}

