// Карты Api на странице index.html
.saitbar__maps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    border: 1px solid rgb(148, 147, 147);
    border-radius: 5px;
    width: 87%;
    margin-top: 5%;
    .mapsIndex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        #map {
            z-index: 1;
            width: 95%;
            height: 300px;
            margin-top: 1%;
        }
        #maps {
            z-index: 1;
            width: 95%;
            height: 300px;
            margin-top: 2%;
        }
    }
}


//Карты АПИ на странице Maps.html
.maps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .maps__content {
       display: flex;
       flex-direction: row;
       margin: 3%;
    }
    .maps__images {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2%;
        border: 1px solid rgb(133, 132, 132);
        border-radius: 5px;
        margin-left: 5%;
        .maps__images__states {
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1%;
            #map1, #map2, #map3, #map4, #map5, #map6 {
                width: 100%;
                height: 300px;
                z-index: 1;
                margin-top: 3%;
            }
            
        }
    }
}

.name__list {
    margin-left: 5%;
}