.saitbar__maps {
    margin-left: 6%;
    margin-right: 14%;
  }
  .saitbar__maps .saitbar__map {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .saitbar__maps .saitbar__map .saitbar__maps {
    width: 30%;
    height: auto;
    margin: 3%;
  }
  .saitbar__maps .saitbar__map .saitbar__maps img {
    border-radius: 10px;
    height: auto;
    width: 100%;
  }
  .saitbar__maps .saitbar__map .saitbar__maps :hover {
    border: 2px solid #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }